@import "variables";
@import "../../node_modules/bootstrap/scss/bootstrap";

.sidenav {
    padding-top: $nav-padding;
    padding-bottom: $nav-padding;
    background-color: $nav-background-color;
}

h1 {
    padding: $nav-padding;
    background-color: $header-background-color; 
    font-family: $main-font;
}

.card {
    margin-bottom: 10px;
}

.sidenav a {
    color: gray;
    font-family: $main-font;
}
